<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <div class="d-flex justify-content-center mt-4 p-4">
        <%= image_tag "hanashiai_man.png", alt:"話し合う男性", class: "img-fluid mx-2 mb-2 col-12 col-md-4" %>        
        <%= image_tag "hanashiai_woman.png", alt:"話し合う女性", class: "img-fluid mx-2 mb-2 col-12 col-md-4" %>       
        <%= image_tag "money_kakeibo_happy.png", alt:"嬉しそうに家計簿をつける人", class: "img-fluid mx-2 mb-2 col-12 col-md-4" %>
      </div>
      <div style="text-align: center; padding: 20px;">
        <h1 style="white-space: nowrap;">家計管理をもっと楽しく、続けやすく</h1>

        <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
        <p style="white-space: nowrap;">カケイブは、家計簿の記録や節約・投資に関する情報を交換できるSNSです。<br>家計管理を続けることが難しいと感じている方や、もっと効果的に家計を改善したい方が、気軽に交流できる場を提供します。</p>
        </div>

        <h2 style="margin-top: 30px; white-space: nowrap;">このアプリケーションでできること</h2>
        <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
          <p style="white-space: nowrap;">✅ 毎日の家計簿を記録・公開：他のユーザーの家計管理方法を参考にしながら、自分の家計簿をつける習慣を身につけることができます。</p>
          <p style="white-space: nowrap;">✅ 節約・投資の情報交換：効果的な節約術や、お得な情報を共有し合えます。</p>
          <p style="white-space: nowrap;">✅ ユーザー同士で励まし合い：目標を設定し、仲間と一緒に家計改善に取り組むことで、モチベーションを維持しやすくなります。</p>
        </div>

        <h2 style="margin-top: 30px;">こんな方におすすめ！</h2>
        <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
          <p style="margin: 0 10px;">✅ 家計簿を始めたばかりの初心者</p>
          <p style="margin: 0 10px;">✅ 家計簿を続けているけれど、なかなか改善につながらない人</p>
          <p style="margin: 0 10px;">✅ 節約や投資に興味があり、役立つ情報を知りたい人</p>
        </div>

        <h2 style="margin-top: 30px; white-space: nowrap;">カケイブで、無理なく賢く家計管理を！</h2>
        <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
          <p style="white-space: nowrap;">お金の管理は、一人で悩むよりも、みんなでシェアしたほうが楽しく、続けやすくなります。</p>
          <p style="white-space: nowrap;">さあ、あなたもカケイブで家計管理をもっとスマートにしてみませんか？</p>
        </div>
        
        <div class="text-center">
          <%= link_to new_user_registration_path, class: "btn btn-success", style: "padding: 5px 60px;" do %>
            <i class="fa-solid fa-user-plus"></i> 新規登録
          <% end %>
        </div>
      </div>  
    </div>
  </div>
</div>