<footer class="bg-dark text-white mt-5">
  <div class="container">
    <div class="row no-gutters">
      <div class="mx-auto">
        <p>CopyRight Kakeibo_sns.inc</p>
      </div>
    </div>
  </div>
</footer>